extends layout

block content
  h1= time
  h1 Charles's RESTful API
  h2 Today is Sunday!
  h2 Time Microservice
  p.red Example Usage
  code localhost:3000/Sept 16, 2016
  br
  code localhost:3000/137903948
  p.red Expected Output is json
  code {"unix": 137903948, "natural": Sept 16, 2016 }
